.head{
   width: 100%;
   height: 70px;
   padding: 0 10%;
   z-index: 1;
   transition: height .3s ease;
   
}

.head--background{
   background: linear-gradient(90deg, var(--primary-color), var(--primary-color-dark));
   position: fixed;
   height: 50px;
}
/**logo beteno*/
.logo__img{
   height: 70px;
   transition: .3s ease all;
}

.logo--sm{
   height: 50px;
}

/*Cabeçalho*/

.navbar {
   background-color: #333;
}

.menu {
   list-style: none;
   display: flex;
   padding: 30px;
   margin-left: 50%;
}

.menu-item {
   position: relative;
   margin-right: 60px;
}

.menu-item a {
   text-decoration: none;
   color: white;
   transition: color 0.3s ease;
}

.menu-item:hover > .submenu-list {
   display: block;
}



.submenu-list {
   width: 150px;
   display: none;
   position: absolute;
   background-color: #1d1d1d;
   list-style: none;
   padding: 0px;
   z-index: 1;
   top: 100%;
   left: 0;
   
}

.submenu-list li {
   margin: 5px 0;
   padding: 10px;
}

.submenu-list li a {
   color: white;
   text-decoration: none;
   transition: color 0.5s ease;
}

.submenu-list li:hover {
   box-shadow: inset 120px 0 0 0 #ee7631;
   width: 100%;
   transition-duration: .3s;
   color: rgb(51, 51, 51);
   
}
