   
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    background-color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    width: auto;
    height: 50px;
}

.spacer {
    height: auto;
}


#carousel-container {
  overflow: hidden;
  width: 55%;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  margin-top: 120px;
  margin-bottom: 100px;
  
}

#image-container {
  margin-top: 75px;
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image-container {
  position: relative;

}

.carousel-image {
  width: 300px;
  height: 400px;
  margin-right: 20px;
  object-fit: cover;
  cursor: pointer;border-radius: 20px;
}

.image-description {
  position: absolute;
  bottom: 0;
  background-color: #555;
  color: #fff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#prevBtn, #nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #333; 
  color: #fff; 
}

#prevBtn { left: 10px; }
#nextBtn { right: 10px; }

.container {
    text-align: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.winner-box {
    margin-top: 20px;
    border: 2px solid #333;
    padding: 10px;
    width: 200px;
    text-align: center;
}

table {
    
    border-collapse: collapse;
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #21252b;
    border-radius: 10px;
    cursor: pointer;
}

th {
    background-color: #f2f2f2;
}

th:hover,
td:hover {
    background-color: #ddd;
}
td {
    text-align: left;
    background-color: #21252b;
    border-radius: 10px;
    cursor: pointer;
}

.item-prefix {
    padding-right: 350px; 
}

.item-content {

}

/*table de e-sport*/
.e-sporttable{
position: relative;
width: 1000px;
height: 1800px;
margin: auto;
margin-top: 100px;
align-items: center;
justify-content: center;

}


#exclusivetabletitle{
    color: rgb(255, 255, 255);
    text-align: right; ;
}

.gamethumb{
    width: 200px;
    height: 200px;
    margin: 10px 30px 10px 30px;
}





#betonesport{
    width: 400px;
    height: 200px;
    margin: 300px 10px 0px 1200px;
    float: left;
    justify-content: start;
}

.esport_individual_table{
    width: 1000px;
    height: 900px;
    background-color: #272727;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px;
    margin-bottom: 30px;

}

.gametag{
    padding-top: 10px;
    width: 700;
    height: 300px;
    margin: 30px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.gametag_inner{
    width: 500px;
    height: 200px;
}

.live_title{
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    font-size: 30px;
}

.esport_individual_table_title{
    height: 6%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    color: white;
    text-align: center;
    background-color: #555;
    border-radius: 30px ;
    justify-content: center;
    text-align: center;
    justify-content: center;
}