.check-out{
   background: #1e2022;
   padding: 60px 0 90px 0;
}

.teams-text h3{
   font-weight: 500;
   font-size: 18px;
   text-transform: uppercase;
   color: var(--primary-color-light);
}

.teams-text p{
   color: #bbc1c9;
   font-size: 14px;
   font-weight: 500;
}